<div class="container">
  <h1 class="margin-bottom page-title">Settings</h1>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="margin-bottom">
      <label for="email-control">Email Address (required)</label>
      <input id="email-control" type="email" placeholder="you@example.com" formControlName="email" />
    </div>

    <div class="margin-bottom">
      <label for="discogs-user-control">Discogs Username</label>
      <input id="discogs-user-control" disabled readonly [value]="settings()?.username" />
    </div>

    <div class="margin-bottom">
      <label for="discogs-folder-control">Folder (required)</label>
      <ng-select
        #folderSelect
        (open)="loadFolders()"
        [clearable]="false"
        [loading]="folderSelect.isOpen && !foldersLoaded()"
        [items]="folders()"
        [compareWith]="compareFolders"
        labelForId="discogs-folder-control"
        formControlName="folder"
        bindLabel="name"
      />
    </div>

    <button type="submit" [disabled]="saving() || !form.dirty">Save Settings</button>
  </form>
</div>
