@if (spinsCount() === 0) {
  <div class="alert margin-bottom">
    If you haven't received any recommendations, check the email address entered in the
    <a [routerLink]="['/settings']">Settings</a> page.
  </div>
}

<h1 class="margin-bottom page-title">History</h1>
@if (spinsLoaded()) {
  @if (loadedSpins()) {
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Artist(s)</th>
            <th>Album</th>
            <th>Played</th>
          </tr>
        </thead>
        <tbody>
          @for (spin of spins(); track spin.id) {
            <tr [class.text-gray-300]="!spin.played">
              <td>{{ spin.createdAt | date: 'MMM d, y' }}</td>
              <td>{{ spin.artistName }}</td>
              <td>
                <a [href]="'https://discogs.com/release/' + spin.discogsId" target="_blank" rel="noreferrer noopener">{{
                  spin.recordName
                }}</a>
              </td>
              <td>
                <button (click)="updatePlayed(spin)">
                  {{ spin.played ? 'Mark as not played' : 'Mark as played' }}
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    @if (hasMorePages()) {
      <button (click)="getNextPage()">Load More</button>
    }
  } @else {
    <h3 class="margin-top">No spins yet! Maybe tomorrow 🤞</h3>
  }
}
