{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "printWidth": 120,
  "semi": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": ["^@$", "<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "trailingComma": "all"
}
