<div class="text-center">
  <h1 class="margin-bottom">Spin Cycle</h1>
  <img class="img-center" src="logo.png" alt="Spin Cycle" />
</div>

<h2 class="margin-top margin-bottom">What is Spin Cycle?</h2>
<p class="margin-bottom">
  Spin Cycle is a simple service that sends you a daily email at 9am (Central) recommending a random album from your
  <a href="https://discogs.com" target="_blank">Discogs</a> collection.
</p>
<p>
  We make sure to never recommend the same record twice, allowing you to listen to your entire collection, one day at a
  time. You can also mark a recommendation as "Not Played" to add it back into the mix for future recommendations.
</p>

<h2 class="margin-top margin-bottom">How Do I Join?</h2>
<ol class="margin-bottom">
  <li>1. <a [href]="authUrl">Login via Discogs</a></li>
  <li>2. Tell us your email address, so we can send your recommendations</li>
  <li>3. That's it! You'll get a daily email with a record from your collection</li>
</ol>
